:root {
  font-family: "Poppins", sans-serif;
  --first-color: #dc3845;
  --first-color-alt: #d42b39;
  --title-color: #282525;
  --text-color: #5d5656;
  --text-color-light: #918889;
  --body-color: #f3f3f3;
  --container-color: #ffffff;
  --first-color-dark: #db4d59;
  --title-color-dark: #f3f2f2;
  --text-color-dark: #c2bdbd;
  --body-color-dark: #251819;
  --container-color-dark: #2f2223;
  --m-biggest-font-size: 24px;
  --m-h1-font-size: 24px;
  --m-h2-font-size: 20px;
  --m-h3-font-size: 16px;
  --m-normal-font-size: 15px;
  --m-small-font-size: 13px;
  --m-smaller-font-size: 12px;
  --d-biggest-font-size: 40px;
  --d-h1-font-size: 36px;
  --d-h2-font-size: 24px;
  --d-h3-font-size: 20px;
  --d-normal-font-size: 16px;
  --d-small-font-size: 14px;
  --d-smaller-font-size: 13px;
  --shadow: 0px 4px 24px 0px rgba(48, 29, 30, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button {
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  color: inherit;
}

body {
  --bg-body: var(--body-color);
  --bg-container: var(--container-color);
  --text-main: var(--text-color);
  --text-mute: var(--text-color-light);
  --text-heading: var(--title-color);
  --primary: var(--first-color);
  --primary-hover: var(--first-color-alt);
  --primary-contrast: #fff;

  font-size: var(--m-normal-font-size);
  background-color: var(--bg-body);
  color: var(--text-main);
  height: 400vh;
}
h1,
h2,
h3,
.biggest-font {
  font-weight: 600;
  color: var(--text-heading);
}
h1 {
  font-size: var(--m-h1-font-size);
}
h2 {
  font-size: var(--m-h2-font-size);
}
h3 {
  font-size: var(--m-h3-font-size);
}
.biggest-font {
  line-height: 140%;
  font-size: var(--m-biggest-font-size);
}
.text-sm {
  font-size: var(--m-small-font-size);
}
.text-xs {
  font-size: var(--m-smaller-font-size);
}

.btn {
  background-color: var(--primary);
  color: var(--primary-contrast);
  padding: 20px 40px;
  border-radius: 99px;
  font-weight: 500;
}
.btn:hover {
  background-color: var(--primary-hover);
}

.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1016px;
}

.header,
.overlay {
  color: var(--text-heading);
  font-weight: 500;
}
.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 950;
  background-color: var(--bg-body);
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 0.3s ease;
}
.header-wrapper.scrolled {
  background-color: var(--bg-container);
  box-shadow: var(--shadow);
  padding-top: 8px;
  padding-bottom: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header_logo img {
  width: 24px;
  transition: 0.3s ease;
}
.header-wrapper.scrolled .header_logo img {
  width: 24px;
}

.header_nav {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header_nav nav {
  display: none;
}
.header_nav nav .current {
  color: var(--primary);
}
.header_nav button {
  width: 20px;
  height: 20px;
  font-size: 16px;
}
.theme_toggle i:first-of-type {
  display: block;
}
.theme_toggle i:nth-of-type(2) {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--bg-container);
  box-shadow: var(--shadow);
  border-radius: 0 0 24px 24px;
  padding: 64px;
  transform: translateY(-500px);
  opacity: 0;
  transition: 0.3s ease;
}
.overlay.show {
  transform: translateY(0);
  opacity: 1;
}
.overlay nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.overlay_close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 18px;
  right: 24px;
}
.overlay_corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  transform: rotate(-15deg);
}

/* HERO SECTION */

.hero,
.celebrate {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 32px;
  gap: 24px;
  /* height: calc(100vh - 57px); */
}

.hero_image,
.celebrate_image {
  width: 100%;
}

.hero_text,
.celebrate_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero_text h1 {
  max-width: 340px;
}
.hero_text p,
.celebrate_text p {
  margin: 12px auto 40px;
  max-width: 250px;
}
.hero_text button {
  padding-left: 62px;
  padding-right: 62px;
}

/* CELEBRATE */
.celebrate {
  justify-content: space-between;
}

/* SHARE A GIFT */
.share_grid {
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.share_grid--item {
  background-color: var(--bg-container);
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  flex-basis: calc(50% - 12px);
}
.share_grid--item button {
  position: absolute;
  font-size: 20px;
  color: var(--primary);
  top: 20px;
  right: 20px;
}
.share_grid--item img {
  margin-bottom: 12px;
  width: 100%;
  max-width: 120px;
}
.share_grid--item p {
  font-weight: 500;
}
/* GIVING SECTION */
.giving,
.gifts,
.share {
  padding-top: 48px;
  padding-bottom: 32px;
  /* height: 100vh; */
}
.share h2,
.giving h2,
.gifts h2 {
  margin: 0 auto 48px;
  text-align: center;
  max-width: 205px;
}
.giving_features {
  display: flex;
  gap: 40px 28px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.giving_features--item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-basis: 40%;
  text-align: center;
  align-items: center;
}
.giving_features--item img {
  width: 27.778vw;
  max-width: 120px;
}

/* NEW GIFTS SECTION */
.gifts {
  padding-left: 0;
  padding-right: 0;
}
.gits_carousel {
  max-width: 820px;
  margin: 0 auto;
}
.gits_carousel--item {
  /* width: 230px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-container);
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: 16px 16px 24px;
  position: relative;
  overflow: hidden;
}
.gits_carousel--item img {
  width: 150px;
  position: relative;
}
.gits_carousel--item h2 {
  margin: 39px 0 4px;
  position: relative;
}
.gits_carousel--item p {
  position: relative;
}
.gits_carousel--item button {
  padding: 8px;
  border-radius: 4px;
  display: flex;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.gits_carousel--item .disc {
  width: 120%;
  aspect-ratio: 1;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: -80px;
}

.owl-stage-outer {
  padding: 0 0 24px;
}
.owl-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}
.owl-dots button {
  width: 10px;
  height: 10px;
  background-color: var(--text-mute) !important;
  border-radius: 50%;
}
.owl-dots button.active {
  width: 12px;
  height: 12px;
  background-color: var(--primary) !important;
}
/* DARK THEME */
body.dark {
  --bg-body: var(--body-color-dark);
  --bg-container: var(--container-color-dark);
  --text-main: var(--text-color-dark);
  --text-heading: var(--title-color-dark);
  --primary: var(--first-color-dark);
}
.dark .theme_toggle i:first-of-type {
  display: none;
}
.dark .theme_toggle i:nth-of-type(2) {
  display: block;
}

/* SMALL TO MEDIUM SCREENS */
@media (min-width: 540px) {
  .giving_features--item {
    flex-basis: 27%;
  }
}

/* MEDIUM TO LARGE */
@media (min-width: 768px) {
  body {
    font-size: var(--d-normal-font-size);
  }
  h1 {
    font-size: var(--d-h1-font-size);
  }
  h2 {
    font-size: var(--d-h2-font-size);
  }
  h3 {
    font-size: var(--d-h3-font-size);
  }
  .biggest-font {
    font-size: var(--d-biggest-font-size);
  }
  .text-sm {
    font-size: var(--d-small-font-size);
  }
  .text-xs {
    font-size: var(--d-smaller-font-size);
  }

  .header_nav {
    gap: 48px;
  }
  .header_nav nav {
    display: flex;
    gap: 48px;
  }
  .menu {
    display: none;
  }
  .overlay {
    display: none;
  }

  .hero,
  .celebrate {
    flex-direction: row;
    gap: 18px;
    align-items: center;
  }
  .hero_image,
  .celebrate_image {
    flex-basis: 50%;
    max-width: 50%;
  }
  .hero_text,
  .celebrate_text {
    align-items: flex-start;
    text-align: left;
  }
  .hero_text h1 {
    max-width: 100%;
  }
  .hero_text p,
  .celebrate_text p {
    max-width: 100%;
    margin: 16px 0 48px;
    max-width: 400px;
  }
  .hero_text button {
    padding-left: 56px;
    padding-right: 56px;
  }
  .giving {
    padding-top: 72px;
  }
  .giving h2 {
    margin-bottom: 56px;
  }
  .giving_features {
    justify-content: space-evenly;
  }
  .share_grid {
    gap: 40px;
  }
  .share_grid--item {
    flex-basis: calc(100% / 3 - 80px / 3);
  }
  .gifts {
    padding-left: 24px;
    padding-right: 24px;
  }
}
/* XLARGE SCREENS */
@media (min-width: 1281px) {
  .container {
    max-width: 1200px;
  }
  .header_logo img {
    width: 32px;
  }
}
